:root {
    color-scheme: light dark;

    --light-bg: #BAA898;
    --light-bg-list: #eee0cb;
    --light-highlight: #c2847a;
    --light-addIcon: invert(5%) sepia(65%) saturate(7297%) hue-rotate(347deg) brightness(46%) contrast(103%);
    --light-addIconHover: brightness(0) saturate(100%) invert(85%) sepia(8%) saturate(5305%) hue-rotate(304deg) brightness(89%) contrast(67%);;

    --dark-bg: #595959;
    --dark-bg-list: #a5a5a5;
    --dark-highlight: #cccccc;
    --dark-addIcon: invert(100%) sepia(5%) saturate(685%) hue-rotate(207deg) brightness(116%) contrast(90%);
    --dark-addIconHover: invert(93%) sepia(0%) saturate(0%) hue-rotate(357deg) brightness(89%) contrast(91%);
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: "Roboto", sans-serif;
}

.dark {

    .logoContainer > img {
        content: url('./images/moon.svg');
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(2deg) brightness(103%) contrast(104%);
    }

    .addIcon {
        filter: var(--dark-addIcon);
    }

    .createTask:hover {

        .addIcon {
            content: url('./images/plus-square.svg');
            filter: var(--dark-addIconHover);
        }
    }

    .task img {
        filter: var(--dark-addIcon);
    }

    .subtask img {
        filter: var(--dark-addIcon);
    }

    .subTaskImg {
        filter: var(--dark-addIcon);
    }
    
}

.light {

    .logoContainer > img {
        content: url('./images/sun.svg');
    }

    .addIcon {
        filter: var(--light-addIcon);
    }

    .createTask:hover {

        .addIcon {
            content: url('./images/plus-square.svg');
            filter: var(--light-addIconHover);
        }
    }

    .task img {
        filter: var(--light-addIcon);
    }

    .subtask img {
        filter: var(--light-addIcon);
    }

    .subTaskImg {
        filter: var(--light-addIcon);
    }
}

body {
    margin: 0;
}

.container {
    position:relative;
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(max-content, 15vw) minmax(max-content, 85vw);
}

dialog {
    color: light-dark(white, white);
    background-color: light-dark(#848586, black);
    margin: 0;
    position: inherit;
}

.logoContainer {
    font-size: 30px;
    font-weight: 700;
    display: flex;
    gap: 20px;
}

.profileSide {
    padding: 20px;
    background-color: light-dark(var(--light-bg), var(--dark-bg));
    z-index: 0;
}

.projectsSide {
    padding: 20px;
    background-color: light-dark(var(--light-bg-list), var(--dark-bg-list));
    z-index: 1;
}

.createTask {
    display: flex;
    align-items: center;
    width: max-content;
}

.createTask:hover {

    .taskBtn {
        color: light-dark(var(--light-highlight), var(--dark-highlight));
    }
}

.hidden {
    display: none;
}

.subTaskAddContainer.hidden {
    display: none;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.taskBtn {
    border: none;
    background: none;
    font-weight: 600;
}

.task {
    width: 50vw;
    min-width: min-content;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 2px solid light-dark(black, white);
    padding: 5px;
    border-radius: 10px;
}

.task:hover {
    cursor: pointer;
}

.task > div:nth-child(2) div:first-child {
    font-size: 30px;
    font-weight: 600;
}

.task > div:nth-child(2) div:last-child {
    font-size: 15px;
}

.task > div:nth-child(3) {
    margin-left: auto;
    margin-right: 0;
    text-wrap: nowrap;
}

.task > img:first-child:hover {
    content: url('./images/check-square.svg');
}

.task > img:last-child:hover {
    filter: brightness(0) saturate(100%) invert(17%) sepia(63%) saturate(7203%) hue-rotate(359deg) brightness(102%) contrast(125%);
}

.task.low {
    background-color: rgba(0, 255, 0, 0.137);
}

.task.medium {
    background-color: rgba(255, 255, 0, 0.137);
}

.task.high {
    background-color: rgba(255, 0, 0, 0.137);
}


.checked {
    position: relative;
    font-style: italic;

    img:first-child {
        content: url('./images/check-square.svg');
    }
}

.checked:after {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    height: 2px;
    background: light-dark(black, white);
    content: "";
    width: 95%;
}

input[type='radio']#low,
input[type='radio']#low\ edit {
    accent-color: green;
}

input[type='radio']#medium,
input[type='radio']#medium\ edit {
    accent-color: yellow;
}

input[type='radio']#high,
input[type='radio']#high\ edit {
    accent-color: red;
}

.taskBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.editSheet {
    display: flex;
    flex-direction: column;
    width: 60vw;
    min-width: max-content;
    height: 80vh;
    background-color: light-dark(var(--light-bg-list), var(--dark-bg-list));
    border-radius: 10px;
    padding: 30px;
    gap: 10px;
}

.editSheet > div:first-child {
    display: flex;
    flex-direction: column;

    input {
        background: none;
        border: none;
    }

    input:focus {
        outline: none;
    }

    input:first-child {
        font-size: 30px;
        font-weight: 600;
    }

    input:last-child {
        border-top: 2px solid black;
        font-size: 15px;
    }

}

.editSheet > input:last-child {
    width: max-content;
}

.editSheet form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.editSheet > dialog button {
    margin-left: auto;
}

.subTaskAddContainer {
    display: flex;
    align-items: center;
    width: max-content;
}

.subTaskImg {
    width: max-content;
    content: url('./images/plus.svg');
}

.subTaskContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subtask {
    display: flex;
    flex-direction: row;
    width: max-content;
    border: 2px solid light-dark(black, white);
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.subtask > img:last-child:hover {
    filter: brightness(0) saturate(100%) invert(17%) sepia(63%) saturate(7203%) hue-rotate(359deg) brightness(102%) contrast(125%);
}